<!DOCTYPE html>
<html>
<head>
  <title>Doccex</title>
  <%= stylesheet_link_tag    "doccex/application" %>
  <%= javascript_include_tag "doccex/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
